body,html{
    padding: 0px;
    margin: 0px;


}
.conteudo{
    display: flex;
    flex-direction: row;
    background-color: silver;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    align-content: space-around;


}
.card{  
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    
}